<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Comment</title>
</head>

<body>
    <h1>Your comment:</h1>
    <h3>"<%= comment.comment %>" by <%= comment.username %> (ID: <%= comment.id %>)</h3>
    <br>
    <a href="/comments">Back To Index</a>
</body>

</html>