@import "../../../utils/variables.css";

.wrapper {
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
  align-items: center;

  height: 30rem;
}
