<%- include("partials/head") %> <%- include("partials/navbar") %>
<h1>Home page <%= "Hello world".toUpperCase() %></h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam animi
  asperiores impedit, ea hic, reiciendis molestias fugiat est quo, soluta iure
  quae? Vel tenetur repudiandae soluta vero sequi eum sint. Quasi repellat error
  minus placeat ipsam ducimus itaque nam, optio illo fugit sunt architecto
  reiciendis amet maiores voluptatum dignissimos non temporibus maxime sint,
  earum explicabo suscipit praesentium ipsum est. Commodi?
</p>
<p>
  Nisi fuga quos quam excepturi dolorem temporibus officiis minus magnam
  accusantium recusandae doloremque expedita, nemo praesentium aspernatur error
  velit cumque voluptates, blanditiis corrupti autem assumenda repellendus
  dicta. Odit, eveniet aperiam. Repudiandae ipsam neque assumenda recusandae
  reprehenderit eum atque voluptatum cumque cupiditate eos debitis eius sapiente
  ipsum voluptas corporis deleniti, molestias delectus libero repellat natus
  mollitia. Consequatur ipsum quaerat molestiae debitis. Odit quaerat
  dignissimos laudantium, excepturi eum numquam fuga ratione voluptatum neque
  distinctio sapiente saepe tenetur dolore perferendis similique nesciunt dolor
  dolorem provident facere vel vero incidunt alias? Quos, quas perspiciatis?
  Alias eligendi, ipsa ut, a obcaecati ullam aliquam nihil tenetur vel iure
  perferendis voluptates rerum distinctio possimus. Iure molestiae aliquam cum,
  repellendus doloribus esse alias aliquid ipsam atque quo repudiandae. Ducimus
  incidunt odio distinctio. Autem explicabo modi rerum temporibus provident
  corporis quidem perspiciatis. Eligendi consectetur totam placeat aut
  voluptatibus nesciunt cum facilis inventore, expedita nemo maxime architecto
  dolorum libero exercitationem. Iste blanditiis sequi distinctio molestiae ea
  magnam deserunt incidunt accusamus voluptates dignissimos, perferendis dolor,
  earum, necessitatibus minima beatae quos culpa! Possimus inventore mollitia
  exercitationem similique. Voluptatum inventore nisi temporibus harum!
</p>
<%- include("partials/closing_footer") %>
