.mainDiv {
  margin-left: 20px;
  margin-top: 6px;
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Align items vertically in the center */
  background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent black background */
  border-radius: 8px; /* Rounded edges */
  padding: 12px; /* Add padding for content spacing */
}

.content {
  font-size: 1rem;
}

.checkbox {
  margin-right: 8px; /* Add spacing between the checkbox and label */

  border: 2px solid #555; /* Add border */
  width: 16px; /* Set width */
  height: 16px; /* Set height */
  border-radius: 4px; /* Add rounded corners */
  outline: none; /* Remove outline on focus */
  cursor: pointer; /* Add pointer cursor */
}

.checkbox:checked {
  background-color: #555; /* Change background color when checked */
  border-color: #555; /* Change border color when checked */
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px; /* Adjust spacing as needed */
  margin-left: auto;
}
